*.class
**/.vagrant
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
!**/.mvn/wrapper/maven-wrapper.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
earth-moon
jdg-rolling-demo
jboss-datagrid-7.1.0-quickstarts
jdg-dataloader
**/.DS_Store
**/target